/*
PingAccess Administrative API

The PingAccess Administrative API is a REST-based interface that provides a programmatic way to make configuration changes to PingAccess.

API version: 7.1.3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package configurationapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// DefaultApiService DefaultApi service
type DefaultApiService service

type ApiAccessTokenValidatorsDescriptorsGetRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
}

func (r ApiAccessTokenValidatorsDescriptorsGetRequest) Execute() (*Descriptors, *http.Response, error) {
	return r.ApiService.AccessTokenValidatorsDescriptorsGetExecute(r)
}

/*
AccessTokenValidatorsDescriptorsGet Method for AccessTokenValidatorsDescriptorsGet

Get descriptors for all Access Token Validators

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAccessTokenValidatorsDescriptorsGetRequest
*/
func (a *DefaultApiService) AccessTokenValidatorsDescriptorsGet(ctx context.Context) ApiAccessTokenValidatorsDescriptorsGetRequest {
	return ApiAccessTokenValidatorsDescriptorsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Descriptors
func (a *DefaultApiService) AccessTokenValidatorsDescriptorsGetExecute(r ApiAccessTokenValidatorsDescriptorsGetRequest) (*Descriptors, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Descriptors
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AccessTokenValidatorsDescriptorsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accessTokenValidators/descriptors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccessTokenValidatorsGetRequest struct {
	ctx           context.Context
	ApiService    *DefaultApiService
	page          *int32
	numberPerPage *int32
	filter        *string
	name          *string
	sortKey       *string
	order         *string
}

// Page number to retrieve
func (r ApiAccessTokenValidatorsGetRequest) Page(page int32) ApiAccessTokenValidatorsGetRequest {
	r.page = &page
	return r
}

// Number of Access Token Validators per page
func (r ApiAccessTokenValidatorsGetRequest) NumberPerPage(numberPerPage int32) ApiAccessTokenValidatorsGetRequest {
	r.numberPerPage = &numberPerPage
	return r
}

// Search for Access Token Validator with name matching filter text
func (r ApiAccessTokenValidatorsGetRequest) Filter(filter string) ApiAccessTokenValidatorsGetRequest {
	r.filter = &filter
	return r
}

// Get a specific Access Token Validator by name (case-sensitive)
func (r ApiAccessTokenValidatorsGetRequest) Name(name string) ApiAccessTokenValidatorsGetRequest {
	r.name = &name
	return r
}

// A comma separated list of Access Token Validator attributes (keys) to be used to sort the results
func (r ApiAccessTokenValidatorsGetRequest) SortKey(sortKey string) ApiAccessTokenValidatorsGetRequest {
	r.sortKey = &sortKey
	return r
}

// Order of the sorted results (ASC for ascending, DESC for descending)
func (r ApiAccessTokenValidatorsGetRequest) Order(order string) ApiAccessTokenValidatorsGetRequest {
	r.order = &order
	return r
}

func (r ApiAccessTokenValidatorsGetRequest) Execute() (*AccessTokenValidators, *http.Response, error) {
	return r.ApiService.AccessTokenValidatorsGetExecute(r)
}

/*
AccessTokenValidatorsGet Method for AccessTokenValidatorsGet

Get all Access Token Validators

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAccessTokenValidatorsGetRequest
*/
func (a *DefaultApiService) AccessTokenValidatorsGet(ctx context.Context) ApiAccessTokenValidatorsGetRequest {
	return ApiAccessTokenValidatorsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AccessTokenValidators
func (a *DefaultApiService) AccessTokenValidatorsGetExecute(r ApiAccessTokenValidatorsGetRequest) (*AccessTokenValidators, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccessTokenValidators
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AccessTokenValidatorsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accessTokenValidators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.numberPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "numberPerPage", r.numberPerPage, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.sortKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortKey", r.sortKey, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccessTokenValidatorsIdDeleteRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
	id         string
}

func (r ApiAccessTokenValidatorsIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.AccessTokenValidatorsIdDeleteExecute(r)
}

/*
AccessTokenValidatorsIdDelete Method for AccessTokenValidatorsIdDelete

Delete a Access Token Validator

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of Access Token Validator to delete
	@return ApiAccessTokenValidatorsIdDeleteRequest
*/
func (a *DefaultApiService) AccessTokenValidatorsIdDelete(ctx context.Context, id string) ApiAccessTokenValidatorsIdDeleteRequest {
	return ApiAccessTokenValidatorsIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *DefaultApiService) AccessTokenValidatorsIdDeleteExecute(r ApiAccessTokenValidatorsIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AccessTokenValidatorsIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accessTokenValidators/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAccessTokenValidatorsIdGetRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
	id         string
}

func (r ApiAccessTokenValidatorsIdGetRequest) Execute() (*AccessTokenValidator, *http.Response, error) {
	return r.ApiService.AccessTokenValidatorsIdGetExecute(r)
}

/*
AccessTokenValidatorsIdGet Method for AccessTokenValidatorsIdGet

Get an Access Token Validator

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of Access Token Validator to get
	@return ApiAccessTokenValidatorsIdGetRequest
*/
func (a *DefaultApiService) AccessTokenValidatorsIdGet(ctx context.Context, id string) ApiAccessTokenValidatorsIdGetRequest {
	return ApiAccessTokenValidatorsIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return AccessTokenValidator
func (a *DefaultApiService) AccessTokenValidatorsIdGetExecute(r ApiAccessTokenValidatorsIdGetRequest) (*AccessTokenValidator, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccessTokenValidator
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AccessTokenValidatorsIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accessTokenValidators/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccessTokenValidatorsIdPutRequest struct {
	ctx                  context.Context
	ApiService           *DefaultApiService
	id                   string
	accessTokenValidator *AccessTokenValidator
}

// Access Token Validator to update
func (r ApiAccessTokenValidatorsIdPutRequest) AccessTokenValidator(accessTokenValidator AccessTokenValidator) ApiAccessTokenValidatorsIdPutRequest {
	r.accessTokenValidator = &accessTokenValidator
	return r
}

func (r ApiAccessTokenValidatorsIdPutRequest) Execute() (*AccessTokenValidator, *http.Response, error) {
	return r.ApiService.AccessTokenValidatorsIdPutExecute(r)
}

/*
AccessTokenValidatorsIdPut Method for AccessTokenValidatorsIdPut

Update an Access Token Validator

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of Access Token Validator to update
	@return ApiAccessTokenValidatorsIdPutRequest
*/
func (a *DefaultApiService) AccessTokenValidatorsIdPut(ctx context.Context, id string) ApiAccessTokenValidatorsIdPutRequest {
	return ApiAccessTokenValidatorsIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return AccessTokenValidator
func (a *DefaultApiService) AccessTokenValidatorsIdPutExecute(r ApiAccessTokenValidatorsIdPutRequest) (*AccessTokenValidator, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccessTokenValidator
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AccessTokenValidatorsIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accessTokenValidators/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accessTokenValidator == nil {
		return localVarReturnValue, nil, reportError("accessTokenValidator is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accessTokenValidator
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccessTokenValidatorsPostRequest struct {
	ctx                  context.Context
	ApiService           *DefaultApiService
	accessTokenValidator *AccessTokenValidator
}

// Access Token Validator to add
func (r ApiAccessTokenValidatorsPostRequest) AccessTokenValidator(accessTokenValidator AccessTokenValidator) ApiAccessTokenValidatorsPostRequest {
	r.accessTokenValidator = &accessTokenValidator
	return r
}

func (r ApiAccessTokenValidatorsPostRequest) Execute() (*AccessTokenValidator, *http.Response, error) {
	return r.ApiService.AccessTokenValidatorsPostExecute(r)
}

/*
AccessTokenValidatorsPost Method for AccessTokenValidatorsPost

Create an Access Token Validator

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAccessTokenValidatorsPostRequest
*/
func (a *DefaultApiService) AccessTokenValidatorsPost(ctx context.Context) ApiAccessTokenValidatorsPostRequest {
	return ApiAccessTokenValidatorsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AccessTokenValidator
func (a *DefaultApiService) AccessTokenValidatorsPostExecute(r ApiAccessTokenValidatorsPostRequest) (*AccessTokenValidator, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AccessTokenValidator
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AccessTokenValidatorsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accessTokenValidators"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accessTokenValidator == nil {
		return localVarReturnValue, nil, reportError("accessTokenValidator is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accessTokenValidator
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteRequest struct {
	ctx                      context.Context
	ApiService               *DefaultApiService
	acmeServerId             string
	acmeAccountId            string
	acmeCertificateRequestId string
}

func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteRequest) Execute() (*AcmeCertificateRequest, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDelete Method for AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDelete

Delete an ACME Certificate Request

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of ACME Server that holds account
	@param acmeAccountId ID of an ACME Account
	@param acmeCertificateRequestId ID of ACME Certificate Request to delete
	@return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDelete(ctx context.Context, acmeServerId string, acmeAccountId string, acmeCertificateRequestId string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteRequest {
	return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteRequest{
		ApiService:               a,
		ctx:                      ctx,
		acmeServerId:             acmeServerId,
		acmeAccountId:            acmeAccountId,
		acmeCertificateRequestId: acmeCertificateRequestId,
	}
}

// Execute executes the request
//
//	@return AcmeCertificateRequest
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteExecute(r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDeleteRequest) (*AcmeCertificateRequest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeCertificateRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts/{acmeAccountId}/certificateRequests/{acmeCertificateRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeAccountId"+"}", url.PathEscape(parameterValueToString(r.acmeAccountId, "acmeAccountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeCertificateRequestId"+"}", url.PathEscape(parameterValueToString(r.acmeCertificateRequestId, "acmeCertificateRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetRequest struct {
	ctx                      context.Context
	ApiService               *DefaultApiService
	acmeServerId             string
	acmeAccountId            string
	acmeCertificateRequestId string
}

func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetRequest) Execute() (*AcmeCertificateRequest, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGet Method for AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGet

Get an ACME Certificate Request

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of ACME Server that holds account
	@param acmeAccountId ID of the ACME Account
	@param acmeCertificateRequestId ID of ACME Certificate Request to get
	@return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGet(ctx context.Context, acmeServerId string, acmeAccountId string, acmeCertificateRequestId string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetRequest {
	return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetRequest{
		ApiService:               a,
		ctx:                      ctx,
		acmeServerId:             acmeServerId,
		acmeAccountId:            acmeAccountId,
		acmeCertificateRequestId: acmeCertificateRequestId,
	}
}

// Execute executes the request
//
//	@return AcmeCertificateRequest
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetExecute(r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGetRequest) (*AcmeCertificateRequest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeCertificateRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsAcmeCertificateRequestIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts/{acmeAccountId}/certificateRequests/{acmeCertificateRequestId}"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeAccountId"+"}", url.PathEscape(parameterValueToString(r.acmeAccountId, "acmeAccountId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeCertificateRequestId"+"}", url.PathEscape(parameterValueToString(r.acmeCertificateRequestId, "acmeCertificateRequestId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest struct {
	ctx           context.Context
	ApiService    *DefaultApiService
	acmeServerId  string
	acmeAccountId string
	keyPairId     *string
	page          *int32
	numberPerPage *int32
	sortKey       *string
	order         *string
}

// ID of the Key Pair
func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest) KeyPairId(keyPairId string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest {
	r.keyPairId = &keyPairId
	return r
}

// Page number to retrieve
func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest) Page(page int32) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest {
	r.page = &page
	return r
}

// Number of ACME Certificate Requests per page
func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest) NumberPerPage(numberPerPage int32) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest {
	r.numberPerPage = &numberPerPage
	return r
}

// A comma separated list of ACME Certificate Request attributes (keys) to be used to sort the results
func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest) SortKey(sortKey string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest {
	r.sortKey = &sortKey
	return r
}

// Order of the sorted results (ASC for ascending, DESC for descending)
func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest) Order(order string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest {
	r.order = &order
	return r
}

func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest) Execute() (*AcmeCertificateRequest, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGet Method for AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGet

Get all ACME Certificate Requests

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of the ACME Server
	@param acmeAccountId ID of the ACME Account
	@return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGet(ctx context.Context, acmeServerId string, acmeAccountId string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest {
	return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest{
		ApiService:    a,
		ctx:           ctx,
		acmeServerId:  acmeServerId,
		acmeAccountId: acmeAccountId,
	}
}

// Execute executes the request
//
//	@return AcmeCertificateRequest
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetExecute(r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGetRequest) (*AcmeCertificateRequest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeCertificateRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts/{acmeAccountId}/certificateRequests"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeAccountId"+"}", url.PathEscape(parameterValueToString(r.acmeAccountId, "acmeAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.keyPairId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyPairId", r.keyPairId, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.numberPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "numberPerPage", r.numberPerPage, "")
	}
	if r.sortKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortKey", r.sortKey, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest struct {
	ctx                    context.Context
	ApiService             *DefaultApiService
	acmeServerId           string
	acmeAccountId          string
	acmeCertificateRequest *AcmeCertificateRequest
}

// ACME Certificate Request data
func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest) AcmeCertificateRequest(acmeCertificateRequest AcmeCertificateRequest) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest {
	r.acmeCertificateRequest = &acmeCertificateRequest
	return r
}

func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest) Execute() (*AcmeCertificateRequest, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPost Method for AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPost

Initiate the ACME protocol

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ACME Server that the account belongs to
	@param acmeAccountId ACME Account to add certificate to
	@return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPost(ctx context.Context, acmeServerId string, acmeAccountId string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest {
	return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest{
		ApiService:    a,
		ctx:           ctx,
		acmeServerId:  acmeServerId,
		acmeAccountId: acmeAccountId,
	}
}

// Execute executes the request
//
//	@return AcmeCertificateRequest
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostExecute(r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPostRequest) (*AcmeCertificateRequest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeCertificateRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdCertificateRequestsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts/{acmeAccountId}/certificateRequests"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeAccountId"+"}", url.PathEscape(parameterValueToString(r.acmeAccountId, "acmeAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.acmeCertificateRequest == nil {
		return localVarReturnValue, nil, reportError("acmeCertificateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.acmeCertificateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteRequest struct {
	ctx           context.Context
	ApiService    *DefaultApiService
	acmeServerId  string
	acmeAccountId string
}

func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteRequest) Execute() (*AcmeAccount, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsAcmeAccountIdDelete Method for AcmeServersAcmeServerIdAccountsAcmeAccountIdDelete

Delete an ACME Account

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of ACME Server that holds account
	@param acmeAccountId ID of ACME Account to delete
	@return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdDelete(ctx context.Context, acmeServerId string, acmeAccountId string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteRequest {
	return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteRequest{
		ApiService:    a,
		ctx:           ctx,
		acmeServerId:  acmeServerId,
		acmeAccountId: acmeAccountId,
	}
}

// Execute executes the request
//
//	@return AcmeAccount
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteExecute(r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdDeleteRequest) (*AcmeAccount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts/{acmeAccountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeAccountId"+"}", url.PathEscape(parameterValueToString(r.acmeAccountId, "acmeAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdGetRequest struct {
	ctx           context.Context
	ApiService    *DefaultApiService
	acmeServerId  string
	acmeAccountId string
}

func (r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdGetRequest) Execute() (*AcmeAccount, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdGetExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsAcmeAccountIdGet Method for AcmeServersAcmeServerIdAccountsAcmeAccountIdGet

Get an ACME Account

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of ACME Server that holds account
	@param acmeAccountId ID of ACME Account to get
	@return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdGetRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdGet(ctx context.Context, acmeServerId string, acmeAccountId string) ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdGetRequest {
	return ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdGetRequest{
		ApiService:    a,
		ctx:           ctx,
		acmeServerId:  acmeServerId,
		acmeAccountId: acmeAccountId,
	}
}

// Execute executes the request
//
//	@return AcmeAccount
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsAcmeAccountIdGetExecute(r ApiAcmeServersAcmeServerIdAccountsAcmeAccountIdGetRequest) (*AcmeAccount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsAcmeAccountIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts/{acmeAccountId}"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"acmeAccountId"+"}", url.PathEscape(parameterValueToString(r.acmeAccountId, "acmeAccountId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsGetRequest struct {
	ctx           context.Context
	ApiService    *DefaultApiService
	acmeServerId  string
	page          *int32
	numberPerPage *int32
	sortKey       *string
	order         *string
}

// Page number to retrieve
func (r ApiAcmeServersAcmeServerIdAccountsGetRequest) Page(page int32) ApiAcmeServersAcmeServerIdAccountsGetRequest {
	r.page = &page
	return r
}

// Number of ACME Accounts per page
func (r ApiAcmeServersAcmeServerIdAccountsGetRequest) NumberPerPage(numberPerPage int32) ApiAcmeServersAcmeServerIdAccountsGetRequest {
	r.numberPerPage = &numberPerPage
	return r
}

// A comma separated list of ACME Account attributes (keys) to be used to sort the results
func (r ApiAcmeServersAcmeServerIdAccountsGetRequest) SortKey(sortKey string) ApiAcmeServersAcmeServerIdAccountsGetRequest {
	r.sortKey = &sortKey
	return r
}

// Order of the sorted results (ASC for ascending, DESC for descending)
func (r ApiAcmeServersAcmeServerIdAccountsGetRequest) Order(order string) ApiAcmeServersAcmeServerIdAccountsGetRequest {
	r.order = &order
	return r
}

func (r ApiAcmeServersAcmeServerIdAccountsGetRequest) Execute() (*AcmeAccount, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsGetExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsGet Method for AcmeServersAcmeServerIdAccountsGet

Get all ACME Accounts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of ACME Server that holds accounts
	@return ApiAcmeServersAcmeServerIdAccountsGetRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsGet(ctx context.Context, acmeServerId string) ApiAcmeServersAcmeServerIdAccountsGetRequest {
	return ApiAcmeServersAcmeServerIdAccountsGetRequest{
		ApiService:   a,
		ctx:          ctx,
		acmeServerId: acmeServerId,
	}
}

// Execute executes the request
//
//	@return AcmeAccount
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsGetExecute(r ApiAcmeServersAcmeServerIdAccountsGetRequest) (*AcmeAccount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.numberPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "numberPerPage", r.numberPerPage, "")
	}
	if r.sortKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortKey", r.sortKey, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdAccountsPostRequest struct {
	ctx          context.Context
	ApiService   *DefaultApiService
	acmeServerId string
	acmeAccount  *AcmeAccount
}

// ACME Account to add
func (r ApiAcmeServersAcmeServerIdAccountsPostRequest) AcmeAccount(acmeAccount AcmeAccount) ApiAcmeServersAcmeServerIdAccountsPostRequest {
	r.acmeAccount = &acmeAccount
	return r
}

func (r ApiAcmeServersAcmeServerIdAccountsPostRequest) Execute() (*AcmeAccount, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdAccountsPostExecute(r)
}

/*
AcmeServersAcmeServerIdAccountsPost Method for AcmeServersAcmeServerIdAccountsPost

Add an ACME Account

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ACME Server to add account to
	@return ApiAcmeServersAcmeServerIdAccountsPostRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsPost(ctx context.Context, acmeServerId string) ApiAcmeServersAcmeServerIdAccountsPostRequest {
	return ApiAcmeServersAcmeServerIdAccountsPostRequest{
		ApiService:   a,
		ctx:          ctx,
		acmeServerId: acmeServerId,
	}
}

// Execute executes the request
//
//	@return AcmeAccount
func (a *DefaultApiService) AcmeServersAcmeServerIdAccountsPostExecute(r ApiAcmeServersAcmeServerIdAccountsPostRequest) (*AcmeAccount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdAccountsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}/accounts"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.acmeAccount
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdDeleteRequest struct {
	ctx          context.Context
	ApiService   *DefaultApiService
	acmeServerId string
}

func (r ApiAcmeServersAcmeServerIdDeleteRequest) Execute() (*AcmeServer, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdDeleteExecute(r)
}

/*
AcmeServersAcmeServerIdDelete Method for AcmeServersAcmeServerIdDelete

Delete an ACME Server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of ACME Server to delete
	@return ApiAcmeServersAcmeServerIdDeleteRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdDelete(ctx context.Context, acmeServerId string) ApiAcmeServersAcmeServerIdDeleteRequest {
	return ApiAcmeServersAcmeServerIdDeleteRequest{
		ApiService:   a,
		ctx:          ctx,
		acmeServerId: acmeServerId,
	}
}

// Execute executes the request
//
//	@return AcmeServer
func (a *DefaultApiService) AcmeServersAcmeServerIdDeleteExecute(r ApiAcmeServersAcmeServerIdDeleteRequest) (*AcmeServer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeServer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersAcmeServerIdGetRequest struct {
	ctx          context.Context
	ApiService   *DefaultApiService
	acmeServerId string
}

func (r ApiAcmeServersAcmeServerIdGetRequest) Execute() (*AcmeServer, *http.Response, error) {
	return r.ApiService.AcmeServersAcmeServerIdGetExecute(r)
}

/*
AcmeServersAcmeServerIdGet Method for AcmeServersAcmeServerIdGet

Get an ACME Server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param acmeServerId ID of ACME Server to get
	@return ApiAcmeServersAcmeServerIdGetRequest
*/
func (a *DefaultApiService) AcmeServersAcmeServerIdGet(ctx context.Context, acmeServerId string) ApiAcmeServersAcmeServerIdGetRequest {
	return ApiAcmeServersAcmeServerIdGetRequest{
		ApiService:   a,
		ctx:          ctx,
		acmeServerId: acmeServerId,
	}
}

// Execute executes the request
//
//	@return AcmeServer
func (a *DefaultApiService) AcmeServersAcmeServerIdGetExecute(r ApiAcmeServersAcmeServerIdGetRequest) (*AcmeServer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeServer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersAcmeServerIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/{acmeServerId}"
	localVarPath = strings.Replace(localVarPath, "{"+"acmeServerId"+"}", url.PathEscape(parameterValueToString(r.acmeServerId, "acmeServerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersDefaultGetRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
}

func (r ApiAcmeServersDefaultGetRequest) Execute() (*Link, *http.Response, error) {
	return r.ApiService.AcmeServersDefaultGetExecute(r)
}

/*
AcmeServersDefaultGet Method for AcmeServersDefaultGet

Get the default ACME Server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAcmeServersDefaultGetRequest
*/
func (a *DefaultApiService) AcmeServersDefaultGet(ctx context.Context) ApiAcmeServersDefaultGetRequest {
	return ApiAcmeServersDefaultGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Link
func (a *DefaultApiService) AcmeServersDefaultGetExecute(r ApiAcmeServersDefaultGetRequest) (*Link, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Link
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersDefaultGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/default"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersDefaultPutRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
	link       *Link
}

// ACME Server to update
func (r ApiAcmeServersDefaultPutRequest) Link(link Link) ApiAcmeServersDefaultPutRequest {
	r.link = &link
	return r
}

func (r ApiAcmeServersDefaultPutRequest) Execute() (*Link, *http.Response, error) {
	return r.ApiService.AcmeServersDefaultPutExecute(r)
}

/*
AcmeServersDefaultPut Method for AcmeServersDefaultPut

Update the default ACME Server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAcmeServersDefaultPutRequest
*/
func (a *DefaultApiService) AcmeServersDefaultPut(ctx context.Context) ApiAcmeServersDefaultPutRequest {
	return ApiAcmeServersDefaultPutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return Link
func (a *DefaultApiService) AcmeServersDefaultPutExecute(r ApiAcmeServersDefaultPutRequest) (*Link, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Link
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersDefaultPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers/default"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.link == nil {
		return localVarReturnValue, nil, reportError("link is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.link
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersGetRequest struct {
	ctx           context.Context
	ApiService    *DefaultApiService
	page          *int32
	numberPerPage *int32
	filter        *string
	name          *string
	sortKey       *string
	order         *string
}

// Page number to retrieve
func (r ApiAcmeServersGetRequest) Page(page int32) ApiAcmeServersGetRequest {
	r.page = &page
	return r
}

// Number of ACME Servers per page
func (r ApiAcmeServersGetRequest) NumberPerPage(numberPerPage int32) ApiAcmeServersGetRequest {
	r.numberPerPage = &numberPerPage
	return r
}

// Search for ACME Server with name matching filter text
func (r ApiAcmeServersGetRequest) Filter(filter string) ApiAcmeServersGetRequest {
	r.filter = &filter
	return r
}

// Get a specific ACME Server by name (case-sensitive)
func (r ApiAcmeServersGetRequest) Name(name string) ApiAcmeServersGetRequest {
	r.name = &name
	return r
}

// A comma separated list of ACME Server attributes (keys) to be used to sort the results
func (r ApiAcmeServersGetRequest) SortKey(sortKey string) ApiAcmeServersGetRequest {
	r.sortKey = &sortKey
	return r
}

// Order of the sorted results (ASC for ascending, DESC for descending)
func (r ApiAcmeServersGetRequest) Order(order string) ApiAcmeServersGetRequest {
	r.order = &order
	return r
}

func (r ApiAcmeServersGetRequest) Execute() (*AcmeServers, *http.Response, error) {
	return r.ApiService.AcmeServersGetExecute(r)
}

/*
AcmeServersGet Method for AcmeServersGet

Get all ACME Servers

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAcmeServersGetRequest
*/
func (a *DefaultApiService) AcmeServersGet(ctx context.Context) ApiAcmeServersGetRequest {
	return ApiAcmeServersGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AcmeServers
func (a *DefaultApiService) AcmeServersGetExecute(r ApiAcmeServersGetRequest) (*AcmeServers, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeServers
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.numberPerPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "numberPerPage", r.numberPerPage, "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.sortKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortKey", r.sortKey, "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAcmeServersPostRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
	acmeServer *AcmeServer
}

// ACME Server to add
func (r ApiAcmeServersPostRequest) AcmeServer(acmeServer AcmeServer) ApiAcmeServersPostRequest {
	r.acmeServer = &acmeServer
	return r
}

func (r ApiAcmeServersPostRequest) Execute() (*AcmeServer, *http.Response, error) {
	return r.ApiService.AcmeServersPostExecute(r)
}

/*
AcmeServersPost Method for AcmeServersPost

Add an ACME Server

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAcmeServersPostRequest
*/
func (a *DefaultApiService) AcmeServersPost(ctx context.Context) ApiAcmeServersPostRequest {
	return ApiAcmeServersPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AcmeServer
func (a *DefaultApiService) AcmeServersPostExecute(r ApiAcmeServersPostRequest) (*AcmeServer, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AcmeServer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AcmeServersPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/acme/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.acmeServer == nil {
		return localVarReturnValue, nil, reportError("acmeServer is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.acmeServer
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAdminConfigDeleteRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
}

func (r ApiAdminConfigDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminConfigDeleteExecute(r)
}

/*
AdminConfigDelete Method for AdminConfigDelete

Resets the Admin Config to default values

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAdminConfigDeleteRequest
*/
func (a *DefaultApiService) AdminConfigDelete(ctx context.Context) ApiAdminConfigDeleteRequest {
	return ApiAdminConfigDeleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *DefaultApiService) AdminConfigDeleteExecute(r ApiAdminConfigDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AdminConfigDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/adminConfig"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiAdminConfigGetRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
}

func (r ApiAdminConfigGetRequest) Execute() (*AdminConfiguration, *http.Response, error) {
	return r.ApiService.AdminConfigGetExecute(r)
}

/*
AdminConfigGet Method for AdminConfigGet

Get the Admin Config

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAdminConfigGetRequest
*/
func (a *DefaultApiService) AdminConfigGet(ctx context.Context) ApiAdminConfigGetRequest {
	return ApiAdminConfigGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdminConfiguration
func (a *DefaultApiService) AdminConfigGetExecute(r ApiAdminConfigGetRequest) (*AdminConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AdminConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AdminConfigGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/adminConfig"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAdminConfigPutRequest struct {
	ctx                context.Context
	ApiService         *DefaultApiService
	adminConfiguration *AdminConfiguration
}

// Updated admin configuration
func (r ApiAdminConfigPutRequest) AdminConfiguration(adminConfiguration AdminConfiguration) ApiAdminConfigPutRequest {
	r.adminConfiguration = &adminConfiguration
	return r
}

func (r ApiAdminConfigPutRequest) Execute() (*AdminConfiguration, *http.Response, error) {
	return r.ApiService.AdminConfigPutExecute(r)
}

/*
AdminConfigPut Method for AdminConfigPut

Update the Admin Config

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAdminConfigPutRequest
*/
func (a *DefaultApiService) AdminConfigPut(ctx context.Context) ApiAdminConfigPutRequest {
	return ApiAdminConfigPutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AdminConfiguration
func (a *DefaultApiService) AdminConfigPutExecute(r ApiAdminConfigPutRequest) (*AdminConfiguration, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AdminConfiguration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AdminConfigPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/adminConfig"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.adminConfiguration == nil {
		return localVarReturnValue, nil, reportError("adminConfiguration is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.adminConfiguration
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAdminConfigReplicaAdminsGetRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
}

func (r ApiAdminConfigReplicaAdminsGetRequest) Execute() (*ReplicaAdmins, *http.Response, error) {
	return r.ApiService.AdminConfigReplicaAdminsGetExecute(r)
}

/*
AdminConfigReplicaAdminsGet Method for AdminConfigReplicaAdminsGet

Get list of ReplicaAdmins

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAdminConfigReplicaAdminsGetRequest
*/
func (a *DefaultApiService) AdminConfigReplicaAdminsGet(ctx context.Context) ApiAdminConfigReplicaAdminsGetRequest {
	return ApiAdminConfigReplicaAdminsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ReplicaAdmins
func (a *DefaultApiService) AdminConfigReplicaAdminsGetExecute(r ApiAdminConfigReplicaAdminsGetRequest) (*ReplicaAdmins, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ReplicaAdmins
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AdminConfigReplicaAdminsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/adminConfig/replicaAdmins"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAdminConfigReplicaAdminsIdConfigPostRequest struct {
	ctx        context.Context
	ApiService *DefaultApiService
	id         string
}

func (r ApiAdminConfigReplicaAdminsIdConfigPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.AdminConfigReplicaAdminsIdConfigPostExecute(r)
}

/*
AdminConfigReplicaAdminsIdConfigPost Method for AdminConfigReplicaAdminsIdConfigPost

Get configuration file for a given ReplicaAdmin

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id ID of replicaAdmin to get configuration for
	@return ApiAdminConfigReplicaAdminsIdConfigPostRequest
*/
func (a *DefaultApiService) AdminConfigReplicaAdminsIdConfigPost(ctx context.Context, id string) ApiAdminConfigReplicaAdminsIdConfigPostRequest {
	return ApiAdminConfigReplicaAdminsIdConfigPostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *DefaultApiService) AdminConfigReplicaAdminsIdConfigPostExecute(r ApiAdminConfigReplicaAdminsIdConfigPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.AdminConfigReplicaAdminsIdConfigPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/adminConfig/replicaAdmins/{id}/config"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
[...]
